     * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      :root {
        font-size: 18px;
        font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
      }
    
    body {
        margin: 0;
        height: 100vh;
    }
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        height: 100%;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        font-weight: 400;
    }