body {
    font-family: 'Inter', sans-serif;
    margin: auto;
    font-size: 16px;
    margin: 0;
}
.conteiner {
    max-width: 1500px;
    margin: auto;
    padding: 0px 50px;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    border-bottom: 2px solid #010541;
}
.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    padding: 0 50px;
    margin: auto;
    line-height: 20px;
}
.logo {
    display: flex;
    align-items: baseline;
}
.logo__text{
    font-size: 44px;
    padding: 0 10px;
}
.basket-conteiner {
    position: relative;
    display: flex;
    align-items: center;
}
.basket-img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}
.basket-items {
    position: absolute;
    background-color:#F36223;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    padding: 3px 10px;
    top: 0;
    right: 5px;
}
.track {
    margin-top: 100px;
}
.colortext {
    color:#f52;
}
a {
    color:#018ad2;
    text-decoration: none;
}
a:link {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}
.bread {
    margin-bottom: -15px;
}
.breadcrumbs {
    padding: 0;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li + li::before {
    content: ">";
    padding: 7px;
}
.titles {
    font-size: 16px;
}
.title-product{
    font-size: 32px;
}
.font-title {
    font-weight: 700;
}
.font-text {
    font-weight: 500;
}
.images-conteiner {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.image-slide__pic {
    height: 400px;
}
.specification {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;
}
.color-range {
    display: flex;
    gap: 10px;
}
.color-choice {
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 30px;
    height: 60px; 
    padding: 10px 25px;
    margin: 0px;
    background-color: transparent;
}
.btn-color {
    outline-color: transparent;
    outline-style:solid;
}
.btn-color:hover {
    background-color: #F2F2F2;
}
.button-gb {
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 5px;
}
.button-gb:hover{
    background-color: #F2F2F2;
}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  /* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}
  /* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #F36223;
}
[type=radio] + span {
    cursor: pointer;
}
[type=radio]:checked + span {
    outline: 2px solid #F36223;
}
.chose-gb {
    padding-bottom: 10px;
}
.config__inside {
    list-style-type: none;
    padding-left: 0;
}
.config__inside li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.config__inside li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    margin-right: .5rem;
}
.italic {
    font-style: italic;
}
.phonefeatures {
    max-width: 880px;
    line-height: 19px;
}
.model-conteiner {
    padding: 10px 0 50px 0;
}
.model {
    border-collapse: collapse;
}
.model_caption {
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}
.model thead th {
    border: 1px solid #888888;
    padding: 10px;
}
.model tbody td {
    border-left: 1px solid #888888;
	border-right: 1px solid #888888;
    padding: 10px;
}
.model tbody tr:last-child {
    border-bottom: 1px solid #888888;
}
.model tr:hover {
    background: #F2F2F2;
    cursor: pointer;
}
.cost {
    box-sizing: border-box;
    box-shadow: #F0F0F0;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 15px;
    margin-top: 30px;
}
.cost__conteiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cost__dicount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}
.cost__cost {
    text-decoration-line: line-through;
    color: #888888;
    padding-right: 20px;
}
.cost__Percent {
    padding: 4px 8px;
    background-color: #F36223;
    border-radius: 50px;
    color: white;
}
.favorite-btn {
    background: none;
    border: none;
    background-image: url(icons/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
}
.favorite-btn:hover {
    background-image: url(icons/Vector1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.favorite-btn:focus {
    background-image: url(icons/Vector2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cost__cost-now{
    font-size: 32px;
    margin: 0;
}
.delivery {
    padding-bottom: 20px;
}
.add {
    display: flex;
    justify-content: space-between;
    background-color: #F36223;
    border: #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 20px 90px;
    margin-right: 0;
    width: 100%;
    cursor: pointer;
}
.add:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
    background: #DA4A0C;
}
.add:active {
    background: #A93A09;
    border-radius: 4px;
}
.add::before {
    content: url("../icons/basket.svg");
}
.frame {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
}
.ads-name {
    color: #888888;
}
.adblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 400px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    margin: 15px 0;
}
.conteiner-review {
    max-width: 880px;
    padding-bottom: 50px;
}
.rev-rev {
    display: inline-block;
}
.rev-counts {
    display: inline-block;
    margin-left: 10px;
    color:#aaaaaa;
}
.rev-title div:last-child {
    margin-left: auto;
}
.rev-btn:hover {
    background-color: lightgrey;
}
.rev-btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
hr.hrline {
    border: 1px dashed #888888;
}
div.rev-img {
    display:table-cell;
    padding-right: 16px;
}
.rev-img-1 {
    border-radius: 100px;
    width: 140px;
    height: 140px;
    margin-right: 10px;
}
div.rev-text-1 {
    display:table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
}
.opinion-title {
    font-weight: 700;
}
.opinion-desc {
    margin-bottom: 10px;
}
.opinion-info-title {
    display: inline-block;
    font-weight: 700;
    margin: 10px 0;
}
.opinion-info-desc {
    display: inline-block;
    margin: 10px 0;
}
hr.hrline {
    margin: 30px 0;
}
.form-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 170px;
    max-width: 880px;
}
.fieldset {
    border: transparent;
    padding: 0px;
    margin: 0px;
}
.rating {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}
.rating__name {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 100%;
    border: 1px solid #888888;
    padding: 15px 20px;
    background: transparent;
}
.rating__name:hover {
    border: 1px solid #000000;
    color:#000000;  
}
.rating__grade {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 175px;
    border: 1px solid #888888;
    padding: 15px 20px;
    background: transparent;
}
.form-comment {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.form-comment__textarea {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 710px;
    height: 190px;
    border: 1px solid #888888;
    resize: none;
    padding: 15px 20px;
    background: transparent;
}
.form-comment__button {
    width: 177px;
    height: 39px;
    background: #F36223;
    border-radius: 4px; 
    border: #F36223;
    color: #FFFFFF;
    cursor: pointer;
}
.form-comment__button:active {
    background: #A93A09;
    border-radius: 4px;
}
.form-comment__button:hover {
    background: #DA4A0C;
    border-radius: 4px;
}
.footer {
    margin-top: 100px;
    padding: 30px;
    background: #F2F2F2;
}
.footer-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}
.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info__text {
    list-style-type: none;
}
@media (min-width: 1024px) and (max-width: 1499px) {
    .conteiner {
        padding: 0px 15px;
    }
    .image-slide__pic {
        max-height: 272px;
    }
    .rev-img-1 {
        width: 100px;
        height: 100px;
    }
    .rev-star {
        height: 20px;
    }
    .form-conteiner {
        padding: 0;
    }
    .model-conteiner {
        display: none;;
    }
}